/* Footer */
ul#menu-footer-menu {
  list-style-type: none;
  display: flex;
}

.footer .container {
  justify-content: space-between;
  background: #6E6E6E;
  align-items: center; 
}

.footer--left-box {
  display: inline-flex;
  vertical-align: middle;
}

.footer a{
  color:#fff;
}
ul#menu-footer-menu {
  padding: initial;
  margin-right: 90px;
}


/* Media Queries */
@media screen and (max-width: 1195px) { 
  .footer .container{
    margin: 0 20px;
  }
}