.container{
    width: 100%;
    max-width: 1196px;    
    margin: 0 auto;
}
.container-flex {
    display: flex;
}
.gap-16{
    gap:16px;
}
/* Repeating Components */
.text-line{
    width:48px;
    height: 5px;
    background: #FF000F;
}
